<md-toolbar layout="row">
  <div class="md-toolbar-tools">
    <md-button ng-click="navCtrl.toggleSideNav('left')" hide-gt-sm class="md-icon-button">
      <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg">
      </md-icon>
    </md-button>
    <h1 class="lead">bennedetto <small ng-bind="navCtrl.version"></small></h1>
  </div>
</md-toolbar>
<div id="sidebarContainer" layout="row" flex>
  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-4dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
    <md-button ng-class="{'md-raised': navCtrl.isActive('/')}" ng-href="/#/">Today</md-button>
    <md-button ng-class="{'md-raised': navCtrl.isActive('/transactions')}" ng-href="/#/transactions">Transactions</md-button>
    <md-button ng-class="{'md-raised': navCtrl.isActive('/rates')}" ng-href="/#/rates">Rates</md-button>
  </md-sidenav>
  <div layout="column" flex id="content">
    <md-content layout="column" flex class="md-padding">
      <ng-transclude></ng-transclude>
    </md-content>
  </div>
</div>
