<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Amount</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="rate in ratesListCtrl.collection">
      <td ng-bind="rate.description"></td>
      <td ng-bind="rate.amount_per_day | currency"></td>
      <td>
        <md-menu>
          <button type="button" class="btn btn-default" ng-click="$mdOpenMenu($event)">
            <i class="fa fa-bars"></i>
          </button>
          <md-menu-content width="2">
            <md-menu-item>
              <md-button ng-click="ratesListCtrl.edit(rate)">
                <i class="fa fa-pencil"></i><span> Edit</span>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="ratesListCtrl.delete(rate)">
                <i class="fa fa-trash"></i><span> Delete</span>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </td>
    </tr>
  </tbody>
</table>
