<form name="rateForm"
      ng-submit="ratesFormCtrl.submit() ; ratesFormCtrl.reset(rateForm);"
      novalidate md-autofocus>

  <md-input-container>
    <label>Description</label>
    <input type="text"
           name="description"
           class="form-control"
           ng-model="ratesFormCtrl.model.description"
           required>
    <div class="text-danger" ng-messages="rateForm.description.$error" ng-if="rateForm.description.$touched && rateForm.description.$invalid">
      <p ng-message="required">Description is required</p>
    </div>
  </md-input-container>


  <md-input-container>
    <label>Amount</label>
    <input type="number"
           name="amount"
           class="form-control"
           ng-model="ratesFormCtrl.model.amount"
           required>
    <div class="text-danger" ng-messages="rateForm.description.$error" ng-if="rateForm.amount.$touched && rateForm.amount.$invalid">
      <p ng-message="required">Amount is required</p>
    </div>
  </md-input-container>


  <md-input-container>
    <label>Days</label>
    <input type="number"
           name="days"
           class="form-control"
           ng-model="ratesFormCtrl.model.days"
           min="1"
           required>
    <div class="text-danger" ng-messages="rateForm.days.$error" ng-if="rateForm.days.$touched && rateForm.days.$invalid">
      <p ng-message="required">Days is required</p>
      <p ng-message="min">Days can't be zero or less</p>
    </div>
  </md-input-container>


  <button class="btn btn-default" ng-disabled="rateForm.$invalid">Save</button>
</form>
