<md-data-table-toolbar>
  <h2 class="md-title">Rates</h2>
</md-data-table-toolbar>
<md-data-table-container>
  <table md-data-table md-progress="deferred">
    <thead md-order="query.order" md-trigger="onOrderChange">
      <tr>
        <th name="Description"></th>
        <th numeric name="Amount"</th>
        <th name="Action"></th>
      </tr>
    </thead>
    <tbody>
      <tr md-auto-select ng-repeat="rate in ratesListCtrl.collection">
        <td>{{ rate.description }}</td>
        <td>{{ rate.amount_per_day | currency }}</td>
        <td><md-button class="md-warn md-raised" ng-click="ratesListCtrl.delete(rate)">Delete</md-button></td>
      </tr>
    </tbody>
  </table>
</md-data-table-container>
