<table class="table">
  <tbody>
    <tr>
      <td><strong>Today</strong></td>
      <td ng-bind="summaryTableCtrl.summary.today | currency"></td>
    </tr>
    <tr>
      <td><strong>This Week</strong></td>
      <td ng-bind="summaryTableCtrl.summary.week | currency"></td>
    </tr>
    <tr>
      <td><strong>This Month</strong></td>
      <td ng-bind="summaryTableCtrl.summary.month | currency"></td>
    </tr>
    <tr>
      <td><strong>This Year</strong></td>
      <td ng-bind="summaryTableCtrl.summary.year | currency"></td>
    </tr>
  </tbody>
</table>
