<form name="transForm"
      ng-submit="transFormCtrl.submit() ; transFormCtrl.reset(transForm);"
      md-autofocus
      novalidate>
  <div class="form-group">
    <md-input-container>
      <label>Description</label>
      <input type="text"
             name="description"
             class="form-control"
             ng-model="transFormCtrl.model.description"
             required>
      <div class="text-danger" ng-messages="transForm.description.$error" ng-if="transForm.description.$touched && transForm.description.$invalid">
        <p ng-message="required">Description is required</p>
      </div>
    </md-input-container>
  </div>
  <div class="form-group">
    <md-input-container>
      <label>Amount</label>
      <input type="number"
             name="amount"
             class="form-control"
             ng-model="transFormCtrl.model.amount"
             required>
      <div class="text-danger" ng-messages="transForm.description.$error" ng-if="transForm.amount.$touched && transForm.amount.$invalid">
        <p ng-message="required">Amount is required</p>
      </div>
    </md-input-container>
  </div>
  <div class="form-group">
    <md-datepicker name="timestamp" ng-model="transFormCtrl.model.timestamp"></md-datepicker>
    <div class="text-danger" ng-messages="transForm.timestamp.$error" ng-if="transForm.timestamp.$touched && transForm.timestamp.$invalid">
      <p ng-message="required">Timestamp is required</p>
    </div>
  </div>
  <md-button class="md-primary md-raised" ng-disabled="transForm.$invalid">Save</button>
</form>
