<table class="table">
  <thead>
    <th>Date</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr ng-repeat="trans in transListCtrl.collection">
      <td ng-bind="trans.timestamp | date"></td>
      <td ng-bind="trans.description"></td>
      <td ng-bind="trans.amount | currency"></td>
      <td>
        <md-menu>
          <button type="button" class="btn btn-default" ng-click="$mdOpenMenu($event)">
            <i class="fa fa-bars"></i>
          </button>
          <md-menu-content width="2">
            <md-menu-item>
              <md-button ng-click="transListCtrl.edit(trans)">
                <i class="fa fa-pencil"></i><span> Edit</span>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="transListCtrl.delete(trans)">
                <i class="fa fa-trash"></i><span> Delete</span>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </td>
    </tr>
  </tbody>
</table>
