<section layout="row" flex>
  <md-content flex layout-padding>
    <div class="page-header">
      <h2 class="lead">Rates</h1>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-success" ng-click="ctrl.toggleRight()"><i class="fa fa-plus"></i> Add</button>
        <bd-rates-list reload-handle="ctrl.reloadHandle" edit="ctrl.edit"></bd-rates-list>
      </div>
    </div>
  </md-content>
  <bd-sliding-sidebar>
    <bd-rates-form after-submit="ctrl.afterSubmit" edit="ctrl.sendToEdit"></bd-rates-form>
  </bd-sliding-sidebar>
</section>
