<section layout="row" flex>
  <md-content flex layout-padding>
    <h2 class="md-toolbar-tools">
      <span>Transactions</span>
      <span>
        <md-button class="md-button md-raised pull-right" ng-click="ctrl.toggleRight()">
          + Add
        </md-button>
      </span>
    </h2>
    <bd-transactions-list reload-handle="ctrl.reloadHandle"></bd-transactions-list>
  </md-content>
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Add Transaction</h1>
    </md-toolbar>
    <md-content layout-padding>
      <bd-transactions-form after-submit="ctrl.afterSubmit"></bd-transactions-form>
    </md-content>
  </md-sidenav>
</section>
