<!doctype html>
<html lang="en">{% load compress %}{% load staticfiles %}
  <head>
    <meta charset="UTF-8"/>
    <title>bennedetto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% compress css %}
    <link href="{% static 'vendor.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/site.css' %}" rel="stylesheet"/>
    {% block css %}
    {% endblock %}
    {% endcompress %}
  </head>
  <body {% block ng_app %}{% endblock %}>
    {% block content %}
    {% endblock %}
    {% compress js %}
    {% if DEBUG %}
    <script type="text/javascript" src="{% static 'vendor-debug.js' %}"></script>
    {% else %}
    <script type="text/javascript" src="{% static 'vendor.js' %}"></script>
    {% endif %}
    <script type="text/javascript" src="{% static 'js/polyfills.js' %}"></script>
    {% block scripts %}
    {% endblock %}
    {% endcompress %}
    {% compress js inline %}
    {% block scripts_inline %}
    {% endblock %}
    {% endcompress %}
    {% if DEBUG %}
    {% include "debug_footer.html" %}
    {% endif %}
  </body>
</html>
