{% extends "base.html" %}{% load staticfiles %}
{% block ng_app %}lagout="column" ng-app="bennedetto"{% endblock %}
{% block content %}
<bd-navbar>
  <ng-view></ng-view>
</bd-navbar>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'app/app.js' %}"></script>
<script type="text/javascript" src="{% static 'app/services/static.js' %}"></script>
<script type="text/javascript" src="{% static 'app/services/resource.js' %}"></script>
<script type="text/javascript" src="{% static 'app/directives/bd-navbar.js' %}"></script>
<script type="text/javascript" src="{% static 'app/directives/bd-summary-table.js' %}"></script>
<script type="text/javascript" src="{% static 'app/controllers/track.js' %}"></script>
<script type="text/javascript" src="{% static 'app/controllers/explore.js' %}"></script>
{% endblock %}
{% block scripts_inline %}
<script type="text/javascript">
 angular.module('bennedetto').constant('APP_SETTINGS', {
     apiUrl: '{{ API_URL }}',
     staticUrl: '{{ STATIC_URL }}',
     version: '{{ VERSION }}'
 });
</script>
{% endblock %}
